* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --font-primary: "Josefin Sans", sans-serif;
  --font-secondary: "Lilita One", sans-serif;
  --space-cadet: #1b264f;
  --marian-blue: #274690;
  --true-blue: #576ca8;
  --jet-black: #302b27;
  --white-smoke: #f5f3f5;
}

body {
  width: 100%;
  /* height: 100vh; */
  /* margin: 0 auto; */
  background-color: var(--space-cadet);
  color: var(--white-smoke);
}

.contained {
  padding: 0;
  margin: 0;
}

.header {
  /* position: fixed; */
  /* top: 0; */
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 3rem;
  /* margin-top: 2rem; */
  background-color: var(--white-smoke);
  width: 100%;
  position: static;
}

.logo img {
  width: 4rem;
}

.white-logo {
  display: none;
}

.header-menu {
  display: none;
}
.nav-list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
  font-size: 1rem;
  font-family: var(--font-primary);
  text-transform: uppercase;
  margin-bottom: 0;
}

.nav-list .nav-item {
  margin: 0 2rem;
}
.nav-item a {
  cursor: pointer;
  text-decoration: none;
  color: var(--marian-blue);
  transition: all 0.3s ease-in-out;
}

.nav-item a:hover {
  color: var(--true-blue);
  font-weight: 700;
}
.nav-item a:focus {
  color: var(--true-blue);
  font-weight: 700;
}

.hamburger-icon {
  display: none;
}
/*main-content area*/

.main-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  width: 80vw;
  margin: 1.5rem auto;
  padding: 6rem 0;
}

.services {
  display: flex;
  align-items: center;
  gap: 1rem;
  text-transform: uppercase;
  color: greenyellow;
}

.img-container {
  border-radius: 0 2rem 2rem 0;
}
.img-container img {
  width: 25rem;
  border-radius: 8rem 0 8rem 0;
  box-shadow: 10px 10px 24px 0px rgba(242, 235, 235, 0.43);
  -webkit-box-shadow: 10px 10px 24px 0px rgba(242, 235, 235, 0.43);
  -moz-box-shadow: 10px 10px 24px 0px rgba(242, 235, 235, 0.43);
}

.aster {
  width: 0.8rem;
  padding-right: 0.2rem;
}

.intro {
  font-family: var(--font-primary);
}

.country {
  color: greenyellow;
}

.project-cta {
  text-transform: uppercase;
}

/*About main section*/
.about {
  background-color: var(--white-smoke);
}

.my-profile {
  color: var(--space-cadet);
  margin: 0 auto;
  padding: 6rem 0;
  display: flex;
  justify-content: center;
  gap: 5rem;
  width: 80vw;
}

.info-box {
  width: 50vw;
  /* text-align: center; */
}

.greeting {
  font-weight: 700;
}

.about-me {
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 2;
  text-align: justify;
}

.skills {
  color: var(--space-cadet);
  text-transform: capitalize;
}

.skill-set {
  margin-bottom: 1rem;
  font-weight: 700;
}

.skill-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  /* justify-content: center; */
  align-items: center;
  gap: 1.3rem;
}

.myskills {
  background-color: var(--space-cadet);
  color: var(--white-smoke);
  border-radius: 5px;
  text-align: center;
  padding: 0.5rem 0.5rem;
  width: 9rem;
  /* margin-bottom: 1rem;
  margin-right: 1rem; */
  font-size: 0.7rem;
  font-weight: 600;
}

/*Projects page*/
.projects-container {
  width: 100vw;
}
.inner-section {
  width: 80vw;
  text-align: center;
  margin: 0 auto;
  padding: 3rem 0;
}

.project-photos {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  flex-basis: 1 1 0;
  padding: 3rem 0;
}

.projects-img {
  border: 3px solid var(--true-blue);
  border-radius: 10px;
}
.projects-img img {
  width: 20rem;
}

/*contact form*/

.get-in-touch {
  background-color: var(--white-smoke);
  text-align: center;
  text-transform: capitalize;
  margin: 0 auto;
  color: var(--marian-blue);
  font-family: var(--font-secondary);
  padding: 7rem 0;
}

.contact-form {
  width: 40vw;
  margin: 0 auto;
  padding: 4rem 3rem;
  background-color: var(--true-blue);
  border-radius: 50px 0 50px 0;
  box-shadow: 10px 10px 44px -16px rgba(27, 38, 79, 0.45);
  -webkit-box-shadow: 10px 10px 44px -16px rgba(27, 38, 79, 0.45);
  -moz-box-shadow: 10px 10px 44px -16px rgba(27, 38, 79, 0.45);
}

.form-title {
  text-shadow: 0 0 10px var(--marian-blue), 0 0 20px var(--marian-blue),
    0 0 40px var(--marian-blue);
  /* 0 0 80px var(--marian-blue); */
}
/*Footer*/

.my-footer {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  width: 80vw;
  gap: 5rem;
  margin: 0 auto;
  padding: 3rem 0;
}

.fa-brands {
  padding: 0 1.5rem;
  font-size: 2rem;
}

/*RESPONSOVENESS*/

@media screen and (max-width: 430px) {
  .hamburger-icon {
    display: block;
  }
  

  .header-menu a:hover {
    color: var(--true-blue);
    font-weight: 700;
  }
  .header-menu a:focus {
    color: var(--true-blue);
    font-weight: 700;
  }
  .nav-list {
    display: none;
  }

  .header-menu {
    height: 0;
    list-style: none;
  }
  .active {
    position: fixed;
    top: 5rem;
    left: 16rem;
    height: 30vh;
    width: 100%;
    background-color: var(--white-smoke);
    transition: 0.5s ease-out;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: all 0.5s ease-in;
    gap: 1rem;
  }

  .menu a {
    cursor: pointer;
    text-decoration: none;
    color: var(--marian-blue);
    transition: all 0.5s ease-in-out;
    font-size: 1.2rem;
    font-weight: 600;
  }

  .menu a:hover {
    color: var(--true-blue);
    font-weight: 900;
  }
  .menu a:focus {
    color: var(--true-blue);
    font-weight: 900;
  }
  .nav-list {
    display: none;
  }

  .header {
    padding: 2rem 2rem;
    gap: 3rem;
    background-color: var(--space-cadet);
    width: 95vw;
    margin: 0 auto;
  }

  .blue-logo {
    display: none;
  }
  .white-logo {
    display: block;
  }
  .main-box {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem 2rem;
    margin: 0 auto;
  }

  .img-container img {
    width: 15rem;
    border-radius: 4rem 0 4rem 0;
    box-shadow: 10px 10px 24px 0px rgba(242, 235, 235, 0.106);
    -webkit-box-shadow: 10px 10px 24px 0px rgba(242, 235, 235, 0.185);
    -moz-box-shadow: 10px 10px 24px 0px rgba(242, 235, 235, 0.069);
  }
  .left-box {
    text-align: center;
    width: 80vw;
  }

  .services {
    display: none;
  }

  /*About main section*/

  .my-profile {
    flex-direction: column;
    align-items: center;
    padding: 2rem 0;
  }
  .info-box {
    width: 80%;
  }
  .about-me {
    font-size: 0.8rem;
  }
  .greeting {
    text-align: center;
  }

  .skill-list {
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    width: 95%;
    gap: 1rem;
    margin: 0 auto;
  }

  .myskills {
    width: 7rem;
    font-size: 0.65rem;
  }

  .projects-img img {
    width: 17rem;
  }

  .inner-section {
    padding: 1rem 0;
  }
  .project-photos {
    flex-direction: column;
    gap: 1rem;
    /* width: 70%; */
    /* margin: 0 auto; */
  }

  /*Form Area*/

  .get-in-touch {
    padding: 2rem 0;
  }

  .contact-form {
    width: 65vw;
    padding: 2rem 1rem;
    border-radius: 20px 0 20px 0;
  }
  .form-title {
    text-shadow: 0 0 8px var(--marian-blue), 0 0 18px var(--marian-blue),
      0 0 36px var(--marian-blue);
    /* 0 0 80px var(--marian-blue); */
    margin-bottom: 20px;
  }

  /*Footer*/

  .my-footer {
    flex-direction: column;
    gap: 1rem;
    width: 60vw;
    align-items: center;
    text-align: center;
  }

  .fa-brands {
    font-size: 1rem;
    padding: 0 1rem;
  }

  .right-footer h4 {
    font-size: 1rem;
  }
}
